p#count {
  font-weight: bold;
  display: inline-block;
}

#logo {
  background-image: url('../assets/holberton-logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}